# Block folders that MCP generates 
jars/
logs/
reobf/
temp/
src/
bin/

# Block compiled Python
*.pyc

# Block downloaded files
runtime/bin/pypy*
!runtime/bin/

# Block python runtime.
runtime/bin/python/

# Block command file.
runtime/command
